*{
    background-color: rgb(161, 255, 255);
}

.ok{
    color: aliceblue;
    background-color: blueviolet;
    padding: 10px 20px;
    border-radius: 10%;
    cursor: pointer;
    margin-left: 2%;
}

.ok:hover{
    background-color: rgb(186, 113, 254);
}

.texto-git{
    padding-left: 38%;
    color: rgb(106, 11, 196);
}

